$normal: #0fae96;
$hover: #f9f9f9;
$main-background-color: #11011e;
$border: rgba(255, 255, 255, 0.05);
$h1: #ecf1f0;
$h2: #d4d4d4;
$hover: #058f7b;
$active: #027463;
$active: #dfdfdf;
$normal: #ecf1f0;
$font-family: "Inter", sans-serif;