.header{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
    &-item{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    }
}
